.card {
  max-width: 720px;
  border-radius: .25em;
  box-shadow: 0px 0px 5px var(--color-border);
  display: flex;
  flex-direction: column;
  transition: .3s ease-in;
}

.card:hover {
  box-shadow: 0px 10px 20px var(--color-border);
}

.thumb {
  width: 100%;
  height: auto;
  border-radius: .25em .25em 0 0;
}

.description {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

.description h3 {
  color: var(--color-text);
  padding: 1em 0;
}

.description p {
  color: var(--color-hover);
  padding: 1em 0;
}

.description ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.description ul li {
  margin: 0 .5em;
  padding: .5em 0;
  color: var(--text-sub);
  font-size: small;
}

.links {
  padding: 1em 0;
  display: flex;
  justify-content: flex-end;
}

.links a {
  margin: 0 .5em;
  font-size: 1.25em;
  color: var(--color-hover);
}

.links a:hover {
  border: none;
  color: var(--text-destak);
}

@media (max-width: 596px) {
  .card {
    width: 100%;
  }
}