.certificates {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: 955px;
  padding: 6em 0;
}

.certificates h1 {
  color: var(--color-destak);
  padding-bottom: 2em;
}

.list-images {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.img-card {
  transition: 0.3s ease-in;
  box-shadow: 0px 0px 5px #060a0f;
}

.img-card:hover {
  box-shadow: 0px 10px 20px #060a0f;
}

.img-card img {
  width: 100%;
  border-radius: .25em;
}

.img-card a {
  border: none;
}

@media (max-width:  720px) {
  .list-images {
    grid-template-columns: 1fr;
  }
}
