:root {
  --white-mute: #e9e9e9;
  --black: #181818;
  --black-soft: #6a6a6a;
  --black-mute: #282828;

  --text-destak: #ff8400;
 
  --color-border-hover: var(--divider-light-1);
  
  --color-text: var(--text-light-1);
  --color-destak: var(--text-destak);
}

.dark {
  --color-background: var(--indigo);
  --color-hover: var(--text-dark-2);
  --color-text: var(--white-mute);
  --text-dark-2: #ebebeba3;
  --text-sub: #f3bf00;
  --indigo: #15202b;
  --color-border: #060a0f;
  background-color: var(--color-background);
}

.light {
  --indigo: var(--white-mute);
  --color-hover: var(--black-soft);
  --color-text: var(--black-mute);
  --color-border: var(--black-soft);
  --text-dark-2: var(--black-soft);
  --text-sub: #e99000;
  background-color: var(--white-mute);
}

@font-face {
  font-family: Fira code;
  src: local('Fira code'), url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Kumbh+Sans:wght@400;700&family=Nunito:ital,wght@0,300;1,600&display=swap');
  font-weight: 500;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: Fira code;
}

html {
  scroll-behavior: smooth;
  scroll-margin: 0;
}

a {
  color: var(--text-destak);
  text-decoration: none;
  transition: .3s ease-in;
}

a:hover {
  color: var(--color-hover);
  border-bottom: 1px solid;
}

p {
  line-height: 1.75em;
}

/* Works on Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--text-dark-2) var(--indigo);
}

/* Works on Chrome, Edge, and Safari */
html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: var(--indigo);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--text-dark-2);
  border-radius: 20px;
  border: 3px solid var(--indigo);
}