:root {
  --white: #ffffff;
  --white-mute: #e8e8e8;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --text-dark-2: #ebebeba3;
  --text-destak: #ff8400;

  --indigo: #15202b;
  
  --color-background: var(--white);
 
  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);
  
  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);
  --color-destak: var(--text-destak);
  --color-hover: var(--white-mute);

  --section-gap: 160px;

  --color-background: var(--indigo);
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);

  --color-border: var(--divider-dark-2);
  --color-border-hover: var(--divider-dark-1);

  --color-heading: var(--text-dark-1);
  --color-text: var(--white-mute);
}

.dark {
  --color-background: var(--indigo);
  --color-hover: var(--text-dark-2);
  --color-text: var(--white-mute);
  background-color: var(--color-background);
}

.light {
  --color-background: var(var(--white-mute))
  background-color: var(--color-background);
}

@font-face {
  font-family: Fira code;
  src: url('../public/FiraCode-Medium.ttf');
  font-weight: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: Fira code;
}

html {
  scroll-behavior: smooth;
  scroll-margin: 0;
  scroll-padding-top: 6em;
}

a {
  color: var(--text-destak);
  text-decoration: none;
  transition: .3s ease-in;
}

a:hover {
  color: var(--white-mute);
  border-bottom: 1px solid;
}

/* Works on Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--text-dark-2) var(--indigo);
}

/* Works on Chrome, Edge, and Safari */
html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: var(--indigo);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--text-dark-2);
  border-radius: 20px;
  border: 3px solid var(--indigo);
}