.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 6em);
  padding: 0 7em;
}

.nav {
  position: fixed;
  height: calc(100vh - 6em);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  left: 3em;
  margin-top: 6em;
}

.nav ul {
  height: calc(100vh - 6em);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav ul li a {
  color: var(--text-dark-2);
  font-size: 1.5em;
}

.nav ul li a:hover {
  border: none;
  color: var(--color-destak);
}

.nav ul li {
  padding: 0.5em 0;
  transition: 0.3s ease-in;
}

.nav ul li:hover {
  transform: translateY(-3px);
}

.nav ul li:first-child {
  width: 1px;
  background-color: var(--text-dark-2);
  height: 5em;
  display: block;
  margin: auto;
}

.nav ul li:last-child {
  width: 1px;
  background-color: var(--text-dark-2);
  height: auto;
  display: block;
  margin: auto;
  flex-grow: 1;
}

@media (max-width:  720px) {
  .main {
    padding: 0 1em;
  }

  .main .nav {
    left: -5em;
  }
}
