.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: 955px;
  padding: 6em 0;
}

.projects h1 {
  color: var(--color-destak);
  padding-bottom: 2em;
}

.list-projects {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 955px) {
  .list-projects {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
  }
}